.scroll-element {
  opacity: 0;
  transition:
    opacity 1s ease,
    transform 0.6s ease;
}

/* DIREÇÕES */
.scroll-element.up {
  transform: translateY(40px);
}

.scroll-element.down {
  transform: translateY(-40px);
}

.scroll-element.left {
  transform: translateX(40px);
}

.scroll-element.right {
  transform: translateX(-40px);
}

/* QUANDO VISÍVEL */
.scroll-element.show {
  opacity: 1;
  transform: translate(0, 0);
}
